<mat-expansion-panel class="employee-card">

  <mat-expansion-panel-header>
    <div class="header-content">

      <div mat-card-avatar class="employee-picture">
        <img [src]=profilePicture alt="employee-picture">
      </div>

      <div class="employee-details">
        <mat-panel-title>{{ employee.firstName }} {{ employee.lastName }}</mat-panel-title>
        <mat-panel-description>{{ employee.phone }}</mat-panel-description>
      </div>
    </div>
  </mat-expansion-panel-header>

  <mat-action-row>
    <button mat-raised-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-raised-button color="warn" (click)="onDelete()">
      <mat-icon>backspace</mat-icon>
      <span>Delete</span>
    </button>
  </mat-action-row>

  <div class="address-cards">
    <mat-card class="detail-card">
      <mat-card-title>Street</mat-card-title>
      <mat-card-content class="detail-content">{{ employee.street }}</mat-card-content>
    </mat-card>

    <mat-card class="detail-card">
      <mat-card-title>City</mat-card-title>
      <mat-card-content class="detail-content">{{ employee.city }}</mat-card-content>
    </mat-card>

    <mat-card class="detail-card">
      <mat-card-title>Postcode</mat-card-title>
      <mat-card-content class="detail-content">{{ employee.postcode }}</mat-card-content>
    </mat-card>
  </div>

  <mat-card class="detail-card">
    <mat-card-title>Qualifications</mat-card-title>
    <mat-card-content class="detail-content">
      <mat-chip-listbox>
        @for (skill of employee.skillSet; track skill) {
          <mat-chip>{{ skill.skill }}</mat-chip>
        }
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>

</mat-expansion-panel>
