<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'side' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="navbar">Menu</mat-toolbar>

    <mat-nav-list>
      <mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <h3 matListItemTitle>Home</h3>
      </mat-list-item>

      <mat-list-item routerLink="/view" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        <h3 matListItemTitle>View</h3>
      </mat-list-item>

      <mat-list-item routerLink="/qualifications" routerLinkActive="active-link">
        <mat-icon>school</mat-icon>
        <h3 matListItemTitle>Qualifications</h3>
      </mat-list-item>

      <mat-list-item routerLink="/editor" routerLinkActive="active-link">
        <mat-icon>edit</mat-icon>
        <h3 matListItemTitle>Editor</h3>
      </mat-list-item>

      <mat-list-item class="logout-link" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <h3 matListItemTitle>Logout</h3>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>construction</mat-icon>
      </button>
      <span>Kurzarbeiter</span>
      <span class="spacer"></span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
