<!-- src/app/editor/editor.component.html -->
<mat-card *ngIf="employee">
  <mat-card-header>
    <mat-card-title>Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="employee.firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nachname</mat-label>
      <input matInput [(ngModel)]="employee.lastName">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Telefonnummer</mat-label>
      <input matInput [(ngModel)]="employee.phone">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="employee.street">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>ZIP-Code</mat-label>
      <input matInput [(ngModel)]="employee.postcode">
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="employee.city">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="employee.skillSet">
        <!-- You need to replace the options with the actual skills -->
        <mat-option *ngFor="let skill of qualifications" [value]="skill.id">{{skill.skill}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <br>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </mat-card-content>
</mat-card>
