.form-fields {
  max-width: 50%;
}

.title {
  margin-bottom: 10px;
}

.input-row {
  display: flex;
}

.input-row mat-form-field {
  margin: 10px; /* Adjust as needed */
  flex: 1; /* This will make the input fields expand to take up available space */
  max-width: 60%; /* This will limit the width of the input fields to half of the .input-row div */
}

.button-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button-row button:not(:last-child) {
  margin-right: 10px;
}

.button-row button:first-child {
  margin-left: auto;
}
