.form-fields {
  max-width: 50%;
}

.title {
  margin-bottom: 10px;
}

.input-row {
  display: flex;
}

.input-row mat-form-field {
  margin: 10px;
  flex: 1;
  max-width: 60%;
}

.button-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button-row button:not(:last-child) {
  margin-right: 10px;
}

.button-row button:first-child {
  margin-left: auto;
}
