<!-- src/app/editor/editor.component.html -->
<form [formGroup]="form" class="editor-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ editingValidId ? 'Editing existing employee' : 'Creating new employee' }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form-fields">
        <app-formfield label="Name" errorMessage="Please enter a name" [formControl]="formControlOf('firstName')"></app-formfield>
        <app-formfield label="Surname" errorMessage="Please enter a surname" [formControl]="formControlOf('lastName')"></app-formfield>
        <app-formfield label="Phone" errorMessage="Please enter a valid phone number" [formControl]="formControlOf('phone')"></app-formfield>
        <app-formfield label="Street" errorMessage="Please enter an address" [formControl]="formControlOf('street')"></app-formfield>
        <app-formfield label="Postcode" errorMessage="Please enter a zip code" [formControl]="formControlOf('postcode')"></app-formfield>
        <app-formfield label="City" errorMessage="Please enter a city" [formControl]="formControlOf('city')"></app-formfield>
      </div>
      <mat-accordion class="qualifications-accordion">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>work</mat-icon>
              <span>Skills</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <label formArrayName="qualifications" class="checkbox-group">
            @for (unused of qualificationsFormArray.controls;track $index) {
              <mat-checkbox [formControlName]="$index">
                {{ allQualifications[$index].skill }}
              </mat-checkbox>
            }
          </label>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSave()" [disabled]="form.invalid || !form.dirty">
          <ng-container>
            @if (editingValidId) {
              <mat-icon>compare</mat-icon>
              Update
            } @else {
              <mat-icon>add_box</mat-icon>
              Create
            }
          </ng-container>
        </button>
        <button mat-raised-button color="warn" (click)="onClear()">
          <mat-icon>delete</mat-icon>
          <span>Clear</span>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>

