.form-fields {
  max-width: 50%;
}

.title {
  margin-bottom: 10px;
}

.input-row {
  display: flex;
}

.input-row mat-form-field {
  margin: 10px;
  flex: 1;
  max-width: 60%;
}

.editor-card {
  width: 100%;
  max-width: 50%;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.button-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.button-row button:not(:last-child) {
  margin-right: 10px;
}

.button-row button:first-child {
  margin-left: auto;
}
