<!-- src/app/editor/editor.component.html -->
<mat-card>
  <mat-card-header>
    <mat-card-title>Editor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #employeeForm="ngForm">
      <mat-form-field>
        <input matInput [(ngModel)]="employee.firstName" name="firstName" placeholder="First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="employee.lastName" name="lastName" placeholder="Last Name">
      </mat-form-field>
      <!-- Add other fields as necessary -->
    </form>
  </mat-card-content>
</mat-card>
