<mat-card>
  <h3 mat-subheader>Filter<span></span></h3>
  <form [formGroup]="form">

    <app-autocomplete
      [options]="firstNameOptions"
      [control]="getFormControl('firstName')"
      placeholder="First name">
    </app-autocomplete>

    <app-autocomplete
      [options]="lastNameOptions"
      [control]="getFormControl('lastName')"
      placeholder="Last name">
    </app-autocomplete>

    <div formArrayName="qualifications">
      @for (q of allQualifications; track $index) {
        <mat-checkbox [formControlName]="$index">
          {{ q.skill }}
        </mat-checkbox>
      }
    </div>

  </form>
</mat-card>
