.header {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    margin-right: auto;
    font-size: 20px;
    margin-left: 10px;
  }

  button {
    margin-left: auto;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.qualifications-list {
  margin-bottom: 10px;
}

.inner-card {
  margin: 10px;
  flex: 1 0 calc(33% - 20px);
  transition: 0.3s;
  border-radius: 5px;
}
