<mat-expansion-panel>
  <mat-expansion-panel-header class="header">
    <h3 mat-subheader class="title">Filter</h3>
    <button mat-icon-button (click)="toggleFilter($event)">
      <mat-icon>{{ filterEnabled ? 'filter_list' : 'filter_list_off' }}</mat-icon>
    </button>
  </mat-expansion-panel-header>

  <form [formGroup]="form">

    <mat-card class="card-container">

      <div class="inner-card">
        <app-autocomplete
          [options]="firstNameOptions"
          [control]="getFormControl('firstName')"
          label="Name">
        </app-autocomplete>
      </div>

      <div class="inner-card">
        <app-autocomplete
          [options]="lastNameOptions"
          [control]="getFormControl('lastName')"
          label="Surname">
        </app-autocomplete>
      </div>

      <div class="inner-card">
        <app-autocomplete
          [options]="phoneOptions"
          [control]="getFormControl('phone')"
          label="Phone">
        </app-autocomplete>
      </div>

      <div class="inner-card">
        <app-autocomplete
          [options]="streetOptions"
          [control]="getFormControl('street')"
          label="Street">
        </app-autocomplete>
      </div>

      <div class="inner-card">
        <app-autocomplete
          [options]="cityOptions"
          [control]="getFormControl('city')"
          label="City">
        </app-autocomplete>
      </div>

      <div class="inner-card">
        <app-autocomplete
          [options]="postcodeOptions"
          [control]="getFormControl('postcode')"
          label="Postcode">
        </app-autocomplete>
      </div>

    </mat-card>

    <mat-card class="qualifications-card">
      <mat-card-header>
        <mat-card-title>Qualifications</mat-card-title>
      </mat-card-header>
      <mat-card-content class="qualifications-list">
        <div formArrayName="qualifications">
          <mat-chip-listbox multiple>
            @for (qualification of allQualifications; track $index) {
              <mat-chip-option
                [selected]="qualificationsFormArray.controls[$index].value"
                (selectionChange)="qualificationsFormArray.controls[$index].setValue(!qualificationsFormArray.controls[$index].value)">
                {{ qualification.skill }}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </div>
      </mat-card-content>
    </mat-card>

  </form>
</mat-expansion-panel>
