.employee-card {
  margin-bottom: 10px;
}

.employee-photo-wrapper {
  float: left;
  margin-right: 10px;
}

.employee-photo-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

mat-card-title, mat-card-subtitle {
  margin-left: 10px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-chip {
  margin: 4px;
}

mat-expansion-panel-header {
  display: flex;
  align-items: center;
}

.employee-photo-wrapper {
  order: 1;
}

mat-panel-title, mat-panel-description {
  order: 2;
  margin-left: 10px;
}
