.container-cars {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px;
}

.filter-card {
  margin: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: 20px 0 20px 0;
}

.employees {
  flex-direction: column;
  height: 100%;
}

.header {
  padding: 0;
  margin: 7px 0 0 10px;

  .title {
    font-size: 20px;
    margin: 0 0 10px 8px;
  }
}
