<mat-accordion>
  <mat-expansion-panel *ngFor="let employee of employees" class="employee-card">
    <mat-expansion-panel-header>
      <div mat-card-avatar class="employee-photo-wrapper">
        <img [src]="'https://i.pravatar.cc/200?img=' + employee.id" fill="" alt="">
      </div>
      <mat-panel-title>{{ employee.firstName }} {{ employee.lastName }}</mat-panel-title>
      <mat-panel-description>{{ employee.phone }}</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <button mat-button color="primary" (click)="onEdit(employee)">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-button color="warn" (click)="openDeleteDialog(employee)">
        <mat-icon>backspace</mat-icon>
        Delete
      </button>
    </mat-action-row>
    {{ employee.street }}
    {{ employee.postcode }}
    {{ employee.city }}
    <mat-chip-listbox>
      <mat-chip *ngFor="let skill of employee.skillSet">
        {{ skill.skill }}
      </mat-chip>
    </mat-chip-listbox>
  </mat-expansion-panel>
</mat-accordion>
