.qualification-header {
  color: #666; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qualification-header .mat-card-title {
  font-size: 12px; /* Adjust as needed */
}

.hover-actions {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out; /* Adjust as needed */
}

.qualification:hover .hover-actions {
  opacity: 1;
  visibility: visible;
}
