<mat-card class="qualifications">
  <mat-card-header class="qualifications-header">
    <div class="title-container">
      <mat-card-title>
        Qualifications
        <span matBadge="{{inputQualifications.length}}"></span>
      </mat-card-title>
    </div>
    <div class="filter-container">

      <app-qualifications-filter (filteredQualifications)="inputQualifications = $event"></app-qualifications-filter>
    </div>
  </mat-card-header>

  @for (qualification of paginatedQualifications; track qualification) {
    <app-qualification-item
      [qualification]="qualification"
      (deletedQualification)="openDeleteDialog($event)"
      (editedQualification)="openEditDialog($event)">
    </app-qualification-item>
  }

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openEditDialog(undefined)" class="create-button">
      <mat-icon>add_box</mat-icon>
      <span>Create</span>
    </button>
  </mat-card-actions>

  <mat-paginator [length]="inputQualifications.length"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</mat-card>
