.qualifications {
  width: 100%;
  max-width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.qualifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.title-container {
  flex: 1;
  margin: 10px 10px 0 10px; /* top, right, bottom, left */
  padding: 5px 5px 0 0;
}

.filter-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0; /* top, right, bottom, left */
}

.qualification {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  padding: 5px;
}

.qualification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.qualification-actions {
  display: flex;
  justify-content: flex-end;
}

.edit-button,
.delete-button {
  margin: 0 5px;
}

.create-button {
  width: 100%;
  margin-top: 20px;
}
