<mat-card class="qualifications" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle class="qualifications-header">
      Qualifications
      <span matBadge="{{qualifications.length}}"></span>
    </mat-card-subtitle>
  </mat-card-header>
  @for (qualification of qualifications;track qualification.id) {
    <mat-card class="qualification" appearance="outlined">
      <mat-card-header>
        <mat-card-title class="qualification-header">{{ qualification.skill }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <mat-card class="qualification-actions" appearance="outlined">
          <button mat-icon-button (click)="openEditDialog(qualification)" class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeleteDialog(qualification)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card>
      </mat-card-actions>
    </mat-card>
  }
  <mat-card-actions>
    <button mat-raised-button (click)="openEditDialog()" class="add-button">
      Add Qualification
    </button>
  </mat-card-actions>
</mat-card>
