<div class="grid-container">
  <div class="content-container">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>About The Project</mat-card-title>
        <mat-card-subtitle>Kurzarbeiter: Empowering Backoffice Operations</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h1 class="mat-typography about-project-text"> {{ aboutProjectText }}</h1>
      </mat-card-content>
      <mat-card-actions align="end">
        <a href="https://employee.szut.dev/swagger" mat-raised-button color="primary">View EMS API</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>Core Features</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (feature of features;track feature) {
            <mat-list-item>
              <mat-icon>{{ feature.icon }}</mat-icon>
              <strong>{{ feature.title }}</strong>: {{ feature.text }}
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-icon>bug_report</mat-icon>
        <mat-panel-title class="mat-typography">Debug Window</mat-panel-title>
      </mat-card-header>

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Status</mat-card-title>
          <mat-card-subtitle>Current system health</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="center-content">
          <mat-icon class="status-icon">{{ serverStatusIcon() }}</mat-icon>
          <h1 class="mat-typography">{{ serverStatus }}</h1>
        </mat-card-content>
        <mat-card-content class="center-content">
          <mat-icon class="status-icon">{{ userStatusIcon() }}</mat-icon>
          <h1 class="mat-typography">{{ userStatus }}</h1>
        </mat-card-content>
      </mat-card>

    </mat-card>
  </div>
</div>


